<!DOCTYPE html>
<html>
  <head>
    <title>Kreskanta Mono</title>
    <style>
      body {
        background-color: #E7E9EB;
        padding: 150px;
        text-align: center;
      }

      .title { font-family: "Lucida Console", "Monaco", monospace; }
      .email { font-family: "Lucida Console", "Courier New", monospace; }
    </style>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
